html {
  font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background: #00ffbf;
  background: linear-gradient(to left, #00ff95, #00ffbf);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.navbar__links:hover {
  color: #00ffbf;
  transition: all 0.3s ease;
}

h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 3.5rem;
}
h1.hero_text {
  font-size: 6rem;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.portrait {
  min-width: 30%;
  min-height: 30%;
  /*border-radius: var(--border-radius);*/
  border-radius: 100%;
  border-style: none;
  float: right;
}

.hero_container {
  display: flex;
  margin: 50px 50px;
  justify-content: space-between;
  align-items: center;
  min-height: 580px;
  z-index: 1;
  min-width: 100%;
  margin: 0 auto;
  padding: 100px 50px;
}

.hero__heading {
  margin-right: var(--spacing-3);
  color: white;
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

.buttons {
  background: #00ffbfa1;
  background: -webkit-linear-gradient(to right, #00ff88, #00ffbf);
  background: linear-gradient(to right, #00ff88, #00ffbf);
  transition: all 0.3s ease;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  outline: none;
  font-weight: bold;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 24px 2px;
}

.buttons a {
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.buttons:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff7300;
  background: linear-gradient(to right, #d9ff00, #ff7300);
  background: -webkit-linear-gradient(to right, #d9ff00, #ff7300);
  transition: all 0.35s;
  border-radius: 12px;
}

.button:hover {
  color: rgb(0, 0, 0);
}

.buttons:hover:after {
  width: 100%;
}
/*hero section*/
.hero {
  background: #000000;
  background: linear-gradient(to right, #141414, #424242);
  padding-top: 10px;
  padding-bottom: 120px;
}

/* Portfolio Section*/
.portfolio_container {
  margin: auto 50px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: auto 0;
}

.gallery_item {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.desc {
  text-align: center;
  color: white;
}

.portfolio_card {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000e3;
}

.image_text {
  color: #00ffbf;
  font-size: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.portfolio_card:hover .overlay {
  opacity: 1;
}

.portfolio_heading {
  padding-top: 50px;
  text-align: center;
}
.portfolio_wrapper {
  padding-top: 50px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio_section_class {
  background: -webkit-linear-gradient(to left, #018849, #01916d);
  background: linear-gradient(to left, #018849, #01916d);
  padding-bottom: 50px;
}

#portfolio_paragraph {
  color: rgb(214, 214, 214);
  font-size: 2rem;
  padding-top: 5px;
}

/*About Section*/
.about_me_section_class {
  background-color: rgb(158, 158, 158);
  padding: 10rem 25px;
}

.about_me_section_class h1 {
  text-align: center;
  color: black !important;
  padding-bottom: 20px;
}

.about_me_paragraph {
  font-size: 1rem;
  padding: 10px;
}

.about_me_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 50px 25px;
}

#soft_skills {
  padding-top: 25px;
}

/*skills bar*/

#skills_header {
  color: #000000;
}

::selection {
  color: #fff;
  background: #6665ee;
}
.skill-bars {
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: -webkit-linear-gradient(to left, #00ff88, #00ffbf);
  background: linear-gradient(to left, #00ff88, #00ffbf);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 80%;
}
.bar .progress-line.jquery span {
  width: 85%;
}
.bar .progress-line.ReactJS span {
  width: 70%;
}
.bar .progress-line.python span {
  width: 50%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "80%";
}
.progress-line.jquery span::after {
  content: "85%";
}
.progress-line.ReactJS span::after {
  content: "70%";
}
.progress-line.python span::after {
  content: "40%";
}

/*Soft Skills Bar*/

#skills_header {
  color: #000000;
}

::selection {
  color: #fff;
  background: #6665ee;
}
.skill-bars {
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

/*soft skills*/
.skill-bars .bar .progress-line-soft-skills {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line-soft-skills span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, #00c3ff, #2f00ff);
  background: -webkit-linear-gradient(to right, #00c3ff, #ff7300);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line-soft-skills.communication span {
  width: 100%;
}
.bar .progress-line-soft-skills.creativity span {
  width: 100%;
}
.bar .progress-line-soft-skills.adaptivity span {
  width: 100%;
}
.bar .progress-line-soft-skills.problem-solving span {
  width: 100%;
}
.bar .progress-line-soft-skills.empathy span {
  width: 100%;
}
.progress-line-soft-skills span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line-soft-skills span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line-soft-skills.communication span::after {
  content: "100%";
}
.progress-line-soft-skills.creativity span::after {
  content: "100%";
}
.progress-line-soft-skills.adaptivity span::after {
  content: "100%";
}
.progress-line-soft-skills.problem-solving span::after {
  content: "100%";
}
.progress-line-soft-skills.empathy span::after {
  content: "100%";
}

/* 960px max-width */

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero_container {
    flex-direction: column;
    justify-content: center;
  }

  .hero__heading {
    font-size: 1rem;
  }

  .portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  h1.hero_text {
    font-size: 3rem;
  }

  .buttons {
    text-align: center;
    margin: 20px auto;
    display: block;
  }

  .portfolio_wrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about_me_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    padding: 50px 25px;
  }
}

@media screen and (max-width: 1200px) {
}
